body {
    background-color: lightgray;
}

.center {
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.center-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.centerButton {
	text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    background-color: #27292d
}
.button1 {
	text-align: center;
}
.info-bg{
    padding:10%;
    background-image: url('../images/trail.JPG');
    background-size: cover;
}
.info-box{
    margin:10%;
    background-color: #999da3;
    opacity:.9;
}