.center {
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.centerButton {
	text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.button1 {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

