#prompt-location {
	font-weight: bold;
	margin: auto;
	text-align: center;
}
.hidden {
	color: white;
}
.enabled {
	color: black;
	font-weight: bold;
	font-size: 16pt;
	background-color: #f8f8f8;
}
.description {
	width: 100%;
    box-sizing: border-box;
}
input, select {
	font-weight: normal;
	font-size: 14pt;
}
.form-box{
	width: 90%;
	align-self: center;
	margin:5%;
	background-color: #27292d;
}
