#prompt-location {
	font-weight: bold;
	margin: auto;
	text-align: center;
}
.hidden {
	color: white;
}
.enabled {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
	background-color: #f8f8f8;
}
.description {
	width: 50%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}
input, select {
	font-weight: normal;
	font-size: 14pt;
}
